/*obshie stili*/
*{
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}

body {
   background-color: #f2f2f2;
   
}

ul {
   list-style: none;
   padding-left: 0;
   margin: 0;
   padding-right: 40px;
}

p {
   display: inline-block;
   margin-bottom: 0px;
    margin-top: 0px;
}

li {
   border: 1px solid #ececed;
   border-radius: 4px;
   background-color: rgba(118,117,128,0.05);
   margin-bottom: 5px;
   
}
a {
   text-decoration: none;
   color: #c2c2c2;
   background-color: rgba(118,117,128,0.05);
}

a:hover{
   color: #ec5a62;
   background-color: rgba(118,117,128,0.1);
}
/*poisk*/
div.search {
       padding-top: 40px;
   padding-bottom: 40px;
   
}

form {
   width: 80%;
    text-align: left;
    margin: 0 auto;
   
}


input[type="search"] {
   border: none;
   font-size: 95px;
   font-weight: 800;
   color: #ec5a62;
   background-color: #f2f2f2;
}
input[type="search"]::placeholder {
   color: #c2c2c2;
   
}
input:focus, textarea:focus, select:focus {
    outline: 0px;
}
input[type="search"]:hover {
   cursor: text;
}
input[type="submit"] {
   background-image: url(magnifier.svg);
   border: none;
   background-color: #f2f2f2;;
   height: 95px;
   width: 95px;  
   
}
input[type="submit"]:hover {
   cursor: pointer;
}
.right {
   
      text-align: right;
      position: absolute;
    left: 1190px;
   }
    


/*main*/
.zagolovok {
	border: none;
   background-color: inherit;
   font-size: 10px;
   padding-bottom: 20px;
   font-weight: 800;
 color: #c2c2c2;
   
}
div.list-style {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.lists {
   display: inline-block;
   text-align: left;
   width: 33%;
  
}
img {
   padding-left: 10px;
}
img.people {
   border-radius: 25px;
   vertical-align: middle;
   
   
}
img.middle {
   vertical-align: middle;}
.data {
   padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}